{% extends 'base.html.twig' %}

{% form_theme form_user 'materialize_form_theme.html.twig' %}

{% block content %}

    <div class="container">
        <div class="center">
            <div class="section"></div>
            <div class="row">
                <div class="col s5 right-align">
                    <a class="btn-floating waves-effect waves-light btn-large deep-purple accent-2" href="{{ path('login') }}">
                        <i class="material-icons">call_received</i>
                    </a>
                </div>
                <h5 class="indigo-text col s7 left-align">Datos de usuario</h5>

            </div>
            <div class="section"></div>

            <div class="container">
                <div class="z-depth-1 grey lighten-5 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE; width: 100%">

                    {{ form_start(form_user) }}
                    {{ form_errors(form_user) }}

                    {{ form_widget(form_user) }}

                </div>
                <div class="right-align" style="margin-bottom: 50px">
                    <button class="btn waves-effect waves-light deep-purple accent-2" type="submit" name="action">Enviar
                        <i class="material-icons right">send</i>
                    </button>
                </div>
                {{ form_end(form_user) }}

            </div>
        </div>

    </div>

    <script src="{{ asset('assets/js/login.js') }}"></script>
    {% if err %}
        <script>
            $(document).ready(function () {
                Materialize.toast(' {{ err }} ', 4000);
            });
        </script>
    {% endif %}

{% endblock %}




