{% form_theme form 'materialize_form_theme.html.twig' %}

<div class="container">
    <div class="center">
        <div class="section"></div>
        <div class="row">
            <h5 class="indigo-text center-align">Editar empleado</h5>

        </div>
        <div class="section"></div>

        <div class="">
            <div class="z-depth-1 grey lighten-5 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE; width: 100%">

                {{ form_start(form) }}
                {{ form_errors(form) }}

                <div class="row">
                    <div class="col md 6">
                       {{ form_row(form.name) }}
                    </div>
                    <div class="col md 6">
                        {{ form_row(form.lastName) }}
                    </div>
                    <div class="col md 6">
                        {{ form_row(form.email) }}
                    </div>
                    <div class="col md 6">
                        {{ form_row(form.password) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col md 6">
                        {{ form_row(form.phone) }}
                    </div>
                    <div class="col md 6">
                        {{ form_row(form.birthdate) }}
                    </div>
                    <div class="col md 6">
                        {{ form_row(form.workstation) }}
                    </div>
                    <div class="col md 6">
                        {{ form_row(form.woman) }}
                    </div>
                </div>


                {{ form_widget(form) }}


                <div class="right-align" style="margin-bottom: 50px">
                    <button id="button-edit-send" class="btn waves-effect waves-light teal darken-3" value="{{ employee.id }}" type="button" name="action">Enviar
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>

            {{ form_end(form) }}

        </div>
    </div>



</div>